.promotion-money-icon {
    text-align: center !important;
}

.promotion-item {
    width: 33%;
    text-align: center !important;
}

.fighter-pay-pros-cons {
    width: 50%;
}

.reebok-table {
    width: 50%;
}