.fight-strat-description{
    margin: 0px 45px;
    padding: 0px 20px;
    text-align: left !important;
    min-height: 270px;
}

.fight-strat-tabs {
    margin: 50px auto;
    width: 90%
}

.fight-strat-content {
    margin: 20px auto 25px;
    width: 90%;
}