.topnav {
    position:fixed;
    top: 0;
}

.topnav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.topnav-section {
    grid-column: span 4;
}

.site-logo,
.site-logo a {
    grid-column: span 4;
    display: block;
    padding: 7px 0px;
}

.site-nav-dropdown-block {
    float:left;
    padding: 14px 16px;
}

.site-nav-link,
.site-nav-link a {
    padding: 7px 16px;
    float: right;
}

.site-logo,
.site-logo a,
.small-menu-nav,
.small-menu-nav-dropdown {
    text-align: center;
}

.site-logo,
.site-logo a,
.site-nav-link a,
.site-nav-dropdown-block,
.icon {
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.icon {
    text-align: right;
    padding: 14px;
    grid-column: span 2;
}

.site-nav-dropdown-block:hover .site-nav-dropdown-link {
    display: block;
}

.site-nav-dropdown-link {
    position: absolute;
    width: 200px;
    margin-top: 14px;
}

.topnav,
.site-nav-dropdown-link,
.small-menu-block {
    background-color: black;
}

.site-logo,
.site-logo a,
.site-nav-link a,
.site-nav-dropdown-block,
.site-nav-dropdown-link,
.site-nav-sub-menu-link,
.site-nav-sub-menu-link a,
.icon,
.small-menu-block,
.small-menu-nav a,
.small-menu-nav-dropdown a {
    color: white;
}

.site-nav-sub-menu-link,
.site-nav-sub-menu-link a {
    padding: 8px;
}

.topnav,
.topnav-container,
.topnav-section,
.site-logo,
.icon,
.small-menu-block {
    width: 100%;
}

.site-nav-dropdown-link,
.icon,
.small-menu-block,
.small-menu-nav-dropdown-block {
    display:none;
}

@media screen and (max-width: 1200px) {

    .topnav-section {
        grid-column: span 5;
    }

    .site-logo {
        grid-column: span 2;
    }

}
  
@media screen and (max-width: 970px) {

    .site-nav-link,
    .site-nav-dropdown-block,
    .topnav-section {
        display: none;
    }

    .site-logo {
        text-align: left;
        padding-left: 30px; 
        grid-column: span 10;
    }

    .icon {
        grid-column: span 2;
    }

    .icon,
    .small-menu-block {
        display:block;
    }
    
    .small-menu-block {
        margin-top: 53px;
        padding: 15px;
        position: fixed;
    }

    .small-menu-nav,
    .small-menu-nav-dropdown {
        padding: 5px 0px;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        width: 80%;
        margin: auto;
    }
    
    .small-menu-nav:last-child{
        border-bottom:none;
    }

    .small-menu-nav-dropdown:hover .small-menu-nav-dropdown-block {
        display:block;
    }
    

}

@media screen and (max-width: 625px) {

    .site-logo {
        grid-column: span 8;
    }
    .icon {
        grid-column: span 4;
    }
}