.p4p-grid-system {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.p4p-grid-system h6 {
    font-size: 14px;
}

.best-categories-container p,
.best-categories-container h2 {
    margin-bottom: 0px;
}

.best-categories-container {
    margin-bottom: 20px;
}