@media screen and (max-width: 640px) {

    .best-of-thumbnail {
        grid-column: span 12 !important;
        margin: 25px auto;
    }

    .p4p-grid-system .site-span-3 {
        grid-column: span 5;
    }

}