.caption-carousel {
    margin: 25px auto;
    padding: 0px 25px;
    position: relative
}

.caption-content {
    background: rgb(160, 160, 160); 
    bottom: 0;
    color: #ffffff;
    min-height: 70px;
    padding: 10px 20px;
}