.site-caption-carousel-container {
    width: 100%;
    margin: 25px auto;
    text-align: center;
    max-width: 100%;
    padding: 0px 25px;
    position: relative
}

.caption-content {
    bottom: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    min-height: 70px;
}

.site-caption-carousel-button {
    margin: auto;
    cursor: pointer;
}

.site-caption-carousel-image {
    width: 100%;
}
