.caption-carousel {
    margin: 25px auto;
    padding: 0px 25px;
    text-align: center;
    position: relative
}

.caption-content {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    background: rgb(160, 160, 160); 
    bottom: 0;
    min-height: 70px;
    padding: 10px 20px;
}

.caption-carousel-button {
    cursor: pointer;
}
