.sidebar-section-header {
    background: black;
    color: white;
    margin: 20px auto 0px;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}

.sidebar-section-header,
.site-video-rows-container {
    width: 90%;
}

.site-video-rows-container {
    margin: auto;
    animation: fadeIn 2s;
}

.sidebar-recommendation-row {
    margin: 25px auto;
}

.sidebar-video-item {
    grid-column: span 12;
    margin: 10px auto;
}

.sidebar-row-item {
    grid-column: span 6;  
    margin: auto;
    padding: 5px;
    font-weight: 700;
}

.sidebar-video-row .site-responsive-image {
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    .sidebar-video-item {
        grid-column: span 6;
    }
}

@media screen and (max-width: 640px) {
    .sidebar-video-item {
        grid-column: span 12;
    }

}