.site-slider-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.site-slider-image-container {
    grid-column: span 2;
    width: 98%;
    max-width: 98%;
}

.site-slider-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.site-slider-button {
    grid-column: span 1;
    width: 90%;
}
