.site-articles-container {

}

.single-article {
    margin: 10px auto;

}

.single-article .article-text {
    height: 225px;
    overflow:hidden;
}

.site-articles-container p {
    padding: 0px 30px;
}


.site-article-entry-container {
    margin: 30px auto;
}

.site-article-entry-container h5 {
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.site-article-entry-container p {
    font-size: 15px;
    padding: 5px 10px;
}

.site-article-entry-container h5,
.site-article-entry-container p {
    margin: 0px;
}
