footer {
    padding: 25px 0px;
    border-top: 1px solid #e9ecef;
    width: 100%;
}

.footer-items {
    display:block;
    text-align: center;
    margin: 25px auto 0px;
    width: 100%;
}

.footer-logos {
    padding: 0px 10px;
    margin: 0px 10px;
}