@media screen and (max-width: 1080px) {
    aside {
        grid-column: span 12 !important;
        width: 100%;
    }

    .site-sidebar {
        width: 90%;
    }

    .sidebar-introduction {
        display: none;
    }

    .sidebar-title {
        width: 100%;
    }

    .highlights-list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .highlights-container {
        grid-column: span 6;
        margin: 30px auto;
        min-height: 110px;
    }
    
}

@media screen and (max-width: 640px) {
    .site-sidebar {
        width: 90%;
    }

    .highlights-container {
        grid-column: span 12;
        width: 80%;
    }

    .highlight-title {
        font-size: 16px;
    }

}