aside {
    grid-column: span 4;
    width: 100%;
    padding: 25px 0px;
}

.site-sidebar {
    margin: 0px auto;
    text-align: center;
}

.site-sidebar-icon {
    margin: 30px 0px 10px;
    border-radius: 50%;
}

.site-sidebar-section {
    margin-bottom: 15px;
}

.site-sidebar-title {
    background-color: black;
    padding: 10px;
    width: 95%;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 5px;
    color: white;
}

.site-highlights-container {
    margin: 30px 0px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.site-highlights-image-container {
    grid-column: span 6;
    width: 100%;
}

.site-highlights-container img {
    width: 100%;
    height: auto;
}

.site-highlight-title {
    grid-column: span 6;
    margin: auto;
    padding: 5px;
    height: auto;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.site-highlight-title a {
    color: black;
}

@media screen and (max-width: 1090px) {
    aside {
        grid-column: span 12;
        width: 100%;
    }

    .site-sidebar {
        width: 80%;
    }

    .site-sidebar-introduction {
        display: none;
    }

    .site-sidebar-title {
        width: 100%;
    }

    .site-highlights-container {
        width: 95%;
        display: grid;
        margin: 30px auto;
        min-height: 110px;
    }

    .site-highlight-title {
        font-size: 23px;
    }
}

@media screen and (max-width: 640px) {
    .site-sidebar {
        width: 90%;
    }

    .site-highlight-title {
        font-size: 20px;
    }

}