aside {
    padding: 25px 0px;
    margin: 0px auto; 
}

.site-sidebar {
    margin: 0px auto;
    text-align: center;
}

.sidebar-section {
    margin-bottom: 15px;
}

.sidebar-title {
    background-color: black;
    padding: 10px;
    width: 95%;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 5px;
    color: white;
}

.sidebar-icon {
    margin: 30px 0px 10px;
    border-radius: 50%;
}

.highlights-container {
    margin: 30px auto;
    width: 95%;
}

.highlight-title {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.highlight-title a {
    color: black;
}