.image-carousel-container {
    margin: 35px 0px;
    width: 100%;
}

.image-carousel {
    width: 90%;
    margin: auto;
}

.selected-image-container,
.selected-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.selectable-images-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.selectable-images {
    grid-column: span 2;
    max-width: 100%;
    max-height: 105px;
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid white;
}

/* gallery-modal */

.gallery-modal-video-section {
    grid-column: span 7;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    cursor: auto;
    max-height: 100%;
}

.gallery-modal-description-section {
    padding: 20px 30px;
    text-align: left;
    font-size: 22px;
}

.gallery-modal-description {
    margin-top: 20px;
    font-size: 18px;
    height: 100%;
}

.gallery-modal-suggestions-section {
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    cursor: auto;
}

.gallery-fight-suggestions-header {
    grid-column: span 12;
    margin: 0px auto;
    width: 95%;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

.gallery-fight-suggestions-section {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding: 0px 20px;
}

.gallery-fight-suggestion-image-container {
    grid-column: span 6;
    width: 100%;
    height: auto;
}

.gallery-fight-suggestion-image-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.gallery-fight-suggestion-title {
    grid-column: span 6;
    max-width: 100%;
    margin: auto;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    .image-carousel {
        width: 70%;
    }

    .gallery-modal-video-section,
    .gallery-modal-suggestions-section {
        grid-column: span 12;
        height: 100%;
    }

    .gallery-fight-suggestions-header,
    .gallery-fight-suggestions-section {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    .image-carousel {
        width: 90%;
    }

    .image-carousel-container {
        margin: 0px auto;
    }
}