.site-flip-card-container {
    grid-column: span 6;
    padding: 20px;
}

.site-flip-card {
    background-color: transparent;
    width: 425px;
    height: 425px;
    max-width: 100%;
    margin: auto;
}

.site-flip-card-inner {
    position: relative;
    margin: auto;
    height: 425px;
    width: 425px;
    max-width: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.site-flip-card-image {
    height: auto;
    width: auto;
    min-height: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.site-flip-card:hover 
.site-flip-card-inner {
    transform: rotateY(180deg);
}

.site-flip-card-front,
.site-flip-card-back {
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.site-flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.site-flip-content {
    height: 85%;
    backface-visibility: hidden;
    overflow-y: scroll;
}

.site-flip-card-title,
.site-flip-content {
    margin: auto;
    width: 95%;
    padding: 10px;
    max-height: 100%;
}

.site-flip-content p{
    font-size: 15px;
    margin: 0px;
    padding: 5px 0px;
    text-align: left;
    z-index: 1000;
}

.site-flip-card-font-title {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color:dimgrey;
    font-family:fantasy;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1300px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 400px;
        height: 400px;
    }

    .site-flip-content p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 375px;
        height: 375px;
    }

    .site-flip-content p{
        font-size: 13px;
    }
}

@media screen and (max-width: 1090px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 425px;
        height: 425px;
    }

    .site-flip-content p {
        font-size: 14px;
    }

    .site-flip-card-container {
        grid-column: span 12 !important;
        max-width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 375px;
        height: 375px;
    }

    .site-flip-content p {
        font-size: 13px;
    }

} 

@media screen and (max-width: 650px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 360px;
        height: 360px;
    }

    .site-flip-content p {
        font-size: 12px;
    }
} 

@media screen and (max-width: 515px) {
    .site-flip-card,
    .site-flip-card-inner {
        width: 325px;
        height: 325px;
    }

    .site-flip-content p {
        font-size: 11px;
    }
} 


