.home-image-gallery {
    grid-column: span 8;
}

/* Home Twitter Feed */
.home-twitter-feed {
    grid-column: span 4;
}

@media screen and (max-width: 1090px) {
    .home-image-gallery,
    .home-twitter-feed {
        grid-column: span 12 !important;
    }

    .twitter-container {
        width: 70%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 640px) {
    .image-carousel,
    .twitter-container {
        width: 90%;
    }

    .small-list-image-container {
        grid-column: span 12;
    }
}