.home-feature {
    margin: 50px 0px;
}

.home-featured-fight {
    width: 100%;
    padding: 25px 50px;
}

.home-featured-fighter {
    grid-column: span 4;
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

.home-featured-fighter h4 {
    padding-bottom: 0px;
}
.home-featured-fighter-heading {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.home-featured-fighter-image {
    width: 75%;
    margin: 20px auto;
}

.home-featured-fighter-details {
    width: 80%;
    margin: auto;
}

.home-image-gallery {
    grid-column: span 8;
}

/* Home Twitter Feed */
.home-twitter-feed {
    grid-column: span 4;
}

@media screen and (max-width: 1090px) {
    .home-image-gallery,
    .home-twitter-feed,
    .home-featured-fight,
    .home-featured-fighter {
        grid-column: span 12 !important;
    }

    .home-featured-fighter {
        width: 70%;
    }

    .twitter-container {
        width: 70%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 640px) {
    .image-carousel,
    .twitter-container,
    .home-featured-fighter {
        width: 90%;
    }

    .small-list-image-container {
        grid-column: span 12;
    }
}