@media screen and (max-width: 1080px) {
    .home-page .site-span-4,
    .home-page .site-span-8 {
        grid-column: span 12;
    }

    /* Twitter Feed */
    .home-twitter-feed {
        width: 50%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 640px) {
    .image-carousel,
    .twitter-container,
    .home-featured-fighter {
        width: 90%;
    }

    .small-list-image-container {
        grid-column: span 12;
    }

    .home-featured-fighter .fighter-details {
        width: 80%;
        font-size: 15px;
    }

    .home-featured-fighter .fighter-image,
    .home-featured-fighter .fighter-details {
        grid-column: span 12;
        margin: auto;
    }

    .home-featured-fighter .fighter-image {
        width: 40%;
    }

    .home-twitter-feed {
        width: 100%;
        margin: 0px auto;
    }
}