* {
    box-sizing: border-box;
}

.article-body {
    padding: 20px 2rem;
    width: 100%;
    margin: auto;
    background: rgb(255, 255, 255);
}

.grid-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

article {
    padding-bottom: 1rem;
    border-bottom: 1px solid #4d4d4d;
}

article h3 {
    font-weight: 700;
    margin: 0.5rem 0;
    text-transform: uppercase;
}

article p {
    font-size: 0.95rem;
}

article h3:hover,
article p:hover {
    color: rgb(120, 0, 0)
}

.article-entry .site-responsive-image {
    display: none;
}

.article-description {
    margin: 25px auto;
    display: none
}

.article-large {
    margin: 50px auto;
}

.article-large .article-description {
    display: block;
    font-size: 14px;
}

article a,
article a:hover {
    color: black;
}

article:nth-child(4) {
    border-right: 1px solid #4d4d4d;
    padding-right: 1rem;
    grid-area: 1/2/4/3;
}

article:nth-child(3),
article:nth-child(7) {
    border-bottom: none;
}

article:nth-child(4n) {
    border-left: 1px solid #4d4d4d;
    border-bottom: 0;
    padding-left: 1rem;
}

article:nth-child(8n) {
    grid-area: 1/4/4/-1;
}

@media screen and (max-width: 1080px) {

    .grid-wrapper {
        grid-template-columns: 1fr 2fr;
    }

    .article-large h3 {
        font-size: 22px;
    }

    .article-entry h3 {
        font-size: 15px;
        margin: 30px auto;
    }

    article:nth-child(4) {
        border-right: none;
    }

    article:nth-child(8n) {
        grid-area: 4/2/8/3;
    }

    article:nth-child(3),
    article:nth-child(7) {
        border-bottom: 1px solid #4d4d4d;
    }
}

@media screen and (max-width: 640px) {

    .article-description,
    .article-entry .site-responsive-image,
    .grid-wrapper {
        display: block;
    }

    .article-entry,
    .article-large {
        margin: 25px auto;
    }

    .article-large h3,
    .article-entry h3 {
        font-size: 18px;
    }

    article:nth-child(4n) {
        padding: 1rem;
        grid-area: 1/2/4/3;
        border-left: none;
        border-bottom: 1px solid #4d4d4d;
    }

}