.youtube-video-container {
    text-align: center;
}

.youtube-video {
    width: 471px;
    height: 265px;
}

.youtube-video-container,
.youtube-video {
    max-width: 100%;   
}


@media screen and (max-width: 640px) {
    .youtube-video {
        width: 95%;
    }
}