.youtube-video-container {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.youtube-video {
    width: 471px;
    height: 265px;
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .youtube-video {
        width: 100%;
    }
}