.site-tabs-component-row {
    display: grid;
}

.site-single-tab {
    padding: 0px 5px;
}

/* .site-single-tab:last-child {
    border: none;
} */

.site-single-tab:hover,
.small-site-tab:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(30, 111, 250);
}

.site-tabs-display-content {
    padding: 12px;
    max-height: 80%;
    min-height: 80%;
}

.example-container {
    padding-top: 25px;
}

.site-tabs-display-content p {
    padding: 15px 0px;
}