.promotions-card-container{
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.popper-content {
    height: 235px;
    width: 300px;
    z-index: 5;  
}