.recommended-reading-feature,
.other-recommended-reading {
    padding: 10px;
    width: 95%;
    z-index: 10;
}

.recommended-featured .image-container {
    margin: auto 0px auto auto;
    text-align: center;
    padding: 0px 20px;
}

/** Image Caption **/ 
.image-caption-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-caption {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.featured-title {
    font-size: 30px;
}

.small-list-image-container {
    position: relative;
    width: 95%;
    padding: 7px;
}

@media screen and (max-width: 1080px) {

    .recommended-reading-feature,
    .other-recommended-reading {
        grid-column: span 12 !important;
        width: 85%;
    }

    .small-list-image-container {
        margin: 10px auto;
    }

}

@media screen and (max-width: 640px) {

    .small-list-image-container {
        grid-column: span 12;
    }

}