.featured-card,
.small-image-list,
.small-image-container {
    grid-column: span 6;
}

.featured-card,
.small-image-list {
    margin: 0px auto;
    width: 90%;
}

.small-image-container:nth-of-type(odd) .site-responsive-image {
    padding-right: 1.25px;
}

.small-image-container:nth-of-type(even) .site-responsive-image {
    padding-left: 1.25px;
}

.small-image-container:nth-of-type(1) .site-responsive-image, 
.small-image-container:nth-of-type(2) .site-responsive-image {
    padding-bottom: 2.5px;
}

/** Image Caption **/ 
.image-caption-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-caption {
    position: absolute;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
