.site-card {
    animation: fadeIn 2s;
}

.site-single-card,
.site-single-card img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.site-single-card {
    margin: 25px auto;
    animation: fadeIn 2s;
}

.site-text-container {
    padding: 10px;
}

.site-text-container p {
    color:lightslategrey;
}


/* PICTURE ICON */
.picture-icon-card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    max-width: 400px;
}

.picture-icon-card h2 {
    margin: 0;
    padding: 0 1rem;
}

.picture-icon-card .title {
    padding: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}

.picture-icon-card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.picture-icon-card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}

.picture-icon-card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #000000 0%, #ffffff 100%);
    top: 15px;
    left: 85px;
}

.picture-icon-card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.title-total {
    padding: 20px;
}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
}

@media screen and (max-width: 1080px) {
    .site-col-2,
    .site-col-3,
    .site-col-4 {
        grid-column: span 6;
    }
}

@media screen and (max-width: 640px) {
    .site-col-2,
    .site-col-3,
    .site-col-4,
    .site-col-6 {
        grid-column: span 12;
    }
}