@media screen and (max-width: 1080px) {
    .store-item-container {
        grid-column: span 4;
    }

}

@media screen and (max-width: 640px) {
    .store-item-container {
        grid-column: span 6;
    }
}

@media screen and (max-width: 480px) {
    .store-item-container {
        grid-column: span 12;
    }

}