.store-items-page {
    text-align: center;
}

.store-item-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.store-item-image-container,
.store-item-container h4 {
    width: 80%;
}

.store-item-image-container {
    margin: 0px auto;
}

.store-item-container h4 {
    font-size: 16px;
    max-height: 20px;
    margin: 5px auto;
    overflow:hidden
}