#mainNav {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 15px;
    color:#000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar-section,
.navbar-logo-section {
    width: 33.3%;
}

#mainNav .navbar-brand,
#mainNav .navbar-brand a,
#mainNav .navbar-brand a:hover {
    font-size: 25px;
    font-weight: 800;
    color: #000;
    padding: 0px 50px;
    text-transform: uppercase;
    text-align: center;
}

#mainNav .navbar-nav {
    padding: 0px 71px;
}

#mainNav .navbar-nav > .nav-item,
#mainNav .navbar-nav > .nav-item > .nav-link,
.dropdown-item {
    font-size: 14px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}


.dropdown:hover > .dropdown-menu {
    display: block;
    top: 95%;
}

@media screen and (max-width: 1363px) {
    .navbar-logo-section {
        width: 30%;
    }

    .navbar-section{
        width: 35%;
    }
}

@media screen and (max-width: 1270px) {
    #mainNav .navbar-nav > .nav-item,
    #mainNav .navbar-nav > .nav-item > .nav-link,
    .dropdown-item {
        font-size: 12px;

    }

    .navbar-logo-section {
        width: 25%;
    }

    .navbar-section{
        width: 40%;
    }
}

@media screen and (max-width: 1075px) {
    #mainNav {
        display: none;
    }

}