@mixin paddingX($pad){
    padding: $pad 0px;
}

@mixin paddingY($pad){
    padding: 0px $padding;
}

@mixin MarginX($marg){
    margin: $marg auto;
}

@mixin MarginY($marg){
    margin: auto $marg;
}

@mixin margin25XautoY {
    margin: 25px auto;
}

@mixin gridSystem() {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}  


@mixin siteSpan($span) {
    grid-column: span;
}
