.pros-cons-container {
    margin: 40px 0px;
}

.weight-cut-pros {
    background-color: #99da99;
}

.weight-cut-cons {
    background-color: #fe8e8e;
}

.weight-cutting-icons {
    text-align: center;
    align-items: center;
    padding: 0px 15px;
}

.weight-class-table {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .weight-class-table {
        overflow-x: scroll;
    }
}