.page-container-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.sidebar-content {
    animation: fadeIn 2s;
    margin: 17.5px auto 20px;
    width: 90%;
}

.sidebar-page h1,
.sidebar-page h4 {
    text-transform: uppercase;
}

.sidebar-page li {
    margin: 10px 0px;
}
.sidebar-page h4 {
    font-size: 22px;
}

.sidebar-page p {
    padding: 10px;
}

@media screen and (max-width: 1080px) {
    .page-container-image {
        height: 250px;
    }

    .sidebar-page .site-col-8,
    .sidebar-page .site-col-4 {
        grid-column: span 12;
    }
}

@media screen and (max-width: 640px) {
    .page-container-image {
        height: 200px;
    }
}