h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 20px 0px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body {
    padding-top: 27px;
    width: 100%;
}

aside {
    grid-column: span 4;
    width: 100%
}

p {
    padding: 25px;
    width: 100%;
}

.video-container {
    text-align: center;
    margin: 25px;
}

@media screen and (max-width: 1075px) {
    .main-container {
        width: 100%;
    }

    .sidebar-container {
        width: 100% !important;
    }
}