.home-featured-fight {
    text-align: center;
}

.home-featured-fight .fight-title {
    margin-bottom: 25px;
}

.featured-fight h4 {
    margin-bottom: 20px;
    padding: 0px;
}

.home-featured-fight .caption-content,
.home-featured-fight .caption-content h6,
.home-featured-fight .caption-content p {
    background-color: black;
    color: white;
    text-decoration: none;
}

.home-featured-fight .fight-title,
.home-featured-fighter .fighter-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}