main {
    background: white;
    min-height: 80vh;
    padding-top: 73px;
    text-align: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;  
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    display: none;
}