.single-widget-area {
    margin-bottom: 40px;
}

.widget-title > h6 {
    background: #000;
    color: #ffffff;
    height: 40px;
    width: 90%;
    padding: 0px 15px;
    margin-bottom: 30px;
    line-height: 40px;
    border-radius: 2px;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    text-align: center;
}

.sidebar-section {
    text-align: center;
    color: #51545f;
}

.sidebar-section-icon {
    height: 150px;
    width: 150px;
    margin: 20px auto;
    border-radius: 50%;
}

.sidebar-section p {
    margin: 15px;
}

.sidebar-list {
    padding: 10px 15px 16px;
    height: 160px;
    width: 380px;
    display: inline-block;
}

.sidebar-list img {
    margin-right: 8px;
    min-width: 200px;
    min-height: 125px;
    width: 50%;
    float: left;
}

.side-list-heading p {
    width: 40%;
    height: 125px;
    float: right;
    padding: 0 !important;
    color: black;
}
