h1, 
h2, 
h3,
h4, 
h5, 
h6 {
    text-align: center;
    padding: 20px 0px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.site-body {
    padding-top: 53px;
    width: 100%;
}

p {
    padding: 10px 45px;
    width: 100%;
}
