.data-container {
    text-align: center;
    width: 90%;
    margin: auto;
}

.site-loading {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}