h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 20px 0px;
}

p {
    padding: 25px 40px 0px;
    text-align: center;
}

.site-container {
    padding: 60px;
    min-height: 550px;
    width: 100%
}

.site-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-container {
    width: 66.6%;
    padding: 15px;
}

.video-container {
    text-align: center;
    margin: 25px;
}


@media screen and (max-width: 1075px) {
    .main-container {
        width: 100%;
    }

    .sidebar-container {
        width: 100% !important;
    }
}