.site-container {
    padding: 60px;
    min-height: 550px;
    width: 100%
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 20px 0px;
}

p {
    padding: 25px 40px 0px;
    text-align: center;
}

.video-container {
    text-align: center;
    margin: 25px;
}

.main-container {
    width: 66.6%;
}

.sidebar-container {
    width: 33%;
    margin-top: 30px;
}

.site-row {
    display: flex;
    flex-wrap: wrap;
}