/* IMAGE CONTAINER */
.image-carousel-container {
    margin: 35px 0px;
}

.selectable-images {
    border: 1px solid white;
}

.video-carousel-overlay:hover {
    opacity: 0.7;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* GALLERY MODAL */

.video-carousel-section {
    height: 95%;
    overflow-y: scroll;
}

/* MODAL VIDEO SECTION */
.modal-video-description-section {
    padding: 20px 30px;
    text-align: left;
    font-size: 22px;
}

.modal-description {
    margin-top: 20px;
    font-size: 18px;
}

/* MODAL SUGGESTION SECTION */
.fight-suggestions-header {
    margin: 0px auto;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

.fight-suggestions-section {
    padding: 0px 20px;
}

.fight-suggestions-section .image-container {
    padding: 20px;
}

.fight-suggestion-title {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.fight-suggestions-section .image-container,
.fight-suggestion-title  {
    cursor: pointer;
}
