@media screen and (max-width: 1080px) {
    main {
        grid-column: span 12; 
        width: 90%;
    }

    .site-page-header-image-container {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    main {
        width: 95%;
    }

    .site-page-header-image-container {
        width: 90%;
    }
}